name: Relese
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      
      - name: Archive files
        run: |
          zip -r release.zip . -x ".github/**" ".git*" "node_modules/**" "tests/**" ".*"

      - name: Get version
        id: get_version
        run: |
          VERSION=$(python return_version.py)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
      
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: release.zip
          tag_name: v${{ steps.get_version.outputs.VERSION }}